
.myfooter{
    background-color:black;
    padding-top:10px;
    font-family:myFont;
    text-align:center;
      /*position: fixed;*/
   left: 0;
   bottom: 0;
   width: 100%;

}
.subfooter{
    background-color:#920d0d;
    color:white;
    padding:5px;
    text-align:center;
}

.myfooter a{
    color:azure;
}

.myfooter p{
    color:azure;
}
.myfooter h3,ul,p{
    margin-bottom:5px;
    font-family:myFont2;
    list-style-type:none;
}

.owl-carousel,
.bx-wrapper { direction: ltr; }
.owl-carousel .owl-item { direction: rtl; }
/** ADD YOUR AWESOME CODES HERE **/